fj-line {
  input.invisible {
    border: 0px;
    width: 100%;
  }

  .fj_line {
    font-size: 12px;
  }

  .label {
    width: 60%;
  }

  .montant {
    text-align: center;
    width: 20%;
    color: gray;
  }

  .montantSup {
    color: blue;
    font-weight: bold;
  }

  .icon_comment {
    margin-left: 4px;
    color: map-get($colors, primary);
  }
}
