fj-line {
  input.invisible {
    border: 0px;
    width: 100%;
  }

  .fj_line {
    font-size: 12px;
  }

  .label {
    width: 60%;
  }

  .montant {
    text-align: center;
    width: 20%;
    color: color($colors, lightgray);
  }

  .montantSup {
    color: color($colors, primary);
    font-weight: bold;
  }

  .icon_comment {
    margin-left: 4px;
    color: color($colors, primary);
  }

  tr.important {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}
