radio-square {

  .part {
    padding: 4px;
    text-align: left;
    font-size: 0.9em;
  }

  .icon {
    width: 25%;
    text-align: center;
    color: #333333;
    float: left;
    font-size: 0.8em;
    padding-left: 0;
  }

  .myitem {
    padding-left: 0;
  }

  .square_fit .icon {
    font-size: 0.5em;
  }

  .text {
    // width: 75%;
    color: #333333;
    white-space: initial;
  }

  .active {
    background-color: map-get($colors, primary);
    box-shadow: #cccccc 0 2px 4px;
    transition: 0.5s;
  }

  .active .icon,
  .active .text {
    color: white;
    transition: 0.5s;
  }
}
