<!--
  Generated template for the FjmgmtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Feuille Jaune</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showParamPage()">
        <!-- <ion-icon name="cog"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-cog" aria-hidden="true"></i>
      </button>

      <button ion-button (click)="supprFJ()" *ngIf="multiple_selection">
        <i style="font-size:1.6em" class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="circle_container">
    <div class="circle_div" *ngFor='let fj of fj_list'>
      <div class="checkbox_or_not" *ngIf="multiple_selection">
        <i class="fa fa-check-square-o check" *ngIf="isSelected(fj); else elseBlock" (click)="unselectFJ(fj)"></i>
        <ng-template #elseBlock><i class="fa fa-square-o check" (click)="selectFJ(fj)"></i></ng-template>
      </div>
      <fjcircle [fj]='fj' (long-press)="showCheckboxes()"></fjcircle>
    </div>
    <div class="add_circle" (click)="showFjPage()" block>
      <i class="fa fa-plus fa-2x"></i>
    </div>
  </div>
</ion-content>
