<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Feuille Jaune</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showParamPage()">
        <!-- <ion-icon name="cog"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-cog" aria-hidden="true"></i>
      </button>

      <button ion-button (click)="supprFJ()" *ngIf="multiple_selection">
        <i style="font-size:1.6em" class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="fjs_ready">
    <ion-item-group *ngFor="let year of fj_years">
      <ion-item-divider color="secondary" sticky>
        <div>{{year}}</div>
        <div item-end>{{totalYearDepenses(year)}}</div>
      </ion-item-divider>
      <ion-item *ngFor='let fj of yearFJList(year)'>

            <ion-avatar item-start (click)="showFJDetails(fj)">
              <img [src]="paramService.getPhotoMaison(fj.maison)"> <!-- 'https://api.adorable.io/avatars/32/'+fj.month+'.png' -->
            </ion-avatar>

            <h2 (click)="showFJDetails(fj)">
              {{monthPretty(fj)}}
              <span (click)="$event.stopPropagation()" *ngIf="warnings[fj.month] && warnings[fj.month]['msg']" [tooltip]="warnings[fj.month]['msg']" positionV="top">
                <i class="fa fa-exclamation-triangle"></i>
              </span>
            </h2>

            <div class="currency_container">
              <div class="currency" *ngFor="let currency of getCurrencies(fj)" [tooltip]="fj_infos[fj.month][currency.id]">{{currency.symbol}}</div>
            </div>

            <p>{{fj.total.pretty}}</p>
            
            <progress-bar [progress]="fj.total.bc *100 / maxDepenses(year)"></progress-bar>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!-- div class="circle_container">
    <div class="circle_div" *ngFor='let fj of fj_list'>
      <div class="checkbox_or_not" *ngIf="multiple_selection">
        <i class="fa fa-check-square-o check" *ngIf="isSelected(fj); else elseBlock" (click)="unselectFJ(fj)"></i>
        <ng-template #elseBlock><i class="fa fa-square-o check" (click)="selectFJ(fj)"></i></ng-template>
      </div>
      <fjcircle [fj]='fj' (long-press)="showCheckboxes()" (click)="showFJActions(fj)"></fjcircle>
    </div>
    <div class="add_circle" (click)="showFjPage()" block>
      <i class="fa fa-plus fa-2x"></i>
    </div>
  </div> -->
</ion-content>
