<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Feuille Jaune</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showParamPage()">
        <!-- <ion-icon name="cog"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-cog" aria-hidden="true"></i>
      </button>

      <button ion-button (click)="supprFJ()" *ngIf="multiple_selection">
        <i style="font-size:1.6em" class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="fjs_ready">
    <ion-item *ngIf="fj_list.length == 0" class="empty_fj" (click)="showFjPage(initial_month_fj)">
      <div><i class="fa fa-leaf"></i>
        <br>Ajoute ta première Feuille Jaune de
        <br>
        <ion-item class="initial_months">
          <ion-select (click)="$event.stopPropagation()" [(ngModel)]="initial_month_fj">
            <ion-option *ngFor="let m of initial_months" [value]="m.val">{{m.label}}</ion-option>
          </ion-select>
        </ion-item>
        en cliquant ici :)</div>
    </ion-item>

    <ion-item-group *ngFor="let year of fj_years">
      <ion-item-divider color="secondary" sticky>
        <div class="year">{{year}}</div>
        <div item-end class="depenses_year">{{totalYearDepenses(year)}} <i class="fa fa-info" tooltip="Dépenses totales de l'année"></i></div>
      </ion-item-divider>
      <ng-container *ngFor='let fj of yearFJList(year, true)'>

        <ion-item *ngIf="fj.phantom" class="phantom" (click)="showFjPage(fj.month)">
          <h2><i class="fa fa-plus"></i> Créer la Feuille Jaune de {{monthPretty(fj)}}</h2>
        </ion-item>

        <ion-item *ngIf="!fj.phantom">

              <ion-avatar item-start (click)="showFJDetails(fj)">
                <img *ngIf="photos_maisons[fj.month]" [src]="photos_maisons[fj.month]"> <!-- 'https://api.adorable.io/avatars/32/'+fj.month+'.png' -->
                <img class="no_photo" *ngIf="!photos_maisons[fj.month]">
              </ion-avatar>

              <h2 (click)="showFJDetails(fj)">
                {{monthPretty(fj)}}
                <span (click)="$event.stopPropagation()" *ngIf="warnings[fj.month] && warnings[fj.month]['msg']" [tooltip]="warnings[fj.month]['msg']" positionV="top">
                  <i class="fa fa-exclamation-triangle"></i>
                </span>
              </h2>

              <div class="currency_container">
                <div class="currency" *ngFor="let currency of getCurrencies(fj)" [tooltip]="fj_infos[fj.month][currency.id]">{{currency.symbol}}</div>
              </div>

              <p>{{fj.total.pretty}}</p>
              
              <progress-bar [progress]="fj.total.bc *100 / maxDepenses(year)"></progress-bar>
        </ion-item>
    </ng-container>
    </ion-item-group>
  </ion-list>

  <!-- <ion-fab right bottom>
    <button ion-fab (click)="showFjPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->
</ion-content>
