page-fjmgmt {

  .year {
    font-size: 2.3rem;
    font-family: Lora;
    color: hsla(12, 53%, 25%, 1);
    font-weight: bold;
  }

  .depenses_year {
    font-size: 1.7rem;
    color: hsla(12, 53%, 25%, 1);
  }

  div.currency_container {
    float: right;
    display: flex;
  }

  div.currency {
    background-color: map-get($colors, primary);
    color: white;
    width: 21px;
    height: 19px;
    font-size: 1.3rem;
    text-align: center;
    line-height: 19px;
    border-radius: 4px;
    margin-left: 4px;
    margin-top: -3px;
    cursor: pointer;
  }

  img {
    background-color:map-get($colors, primary);
  }

  .fa-exclamation-triangle {
    margin-left: 0.2rem;
    color: map-get($colors, secondary)
  }

  .phantom {
    background-color: map-get($colors, light );
  }

  .phantom h2 {
    text-align: center;
    font-size: 1.4rem;
    border: 1px dashed map-get($colors, darkgray );
    border-radius: 15px;
    color: map-get($colors, darkgray );
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .fa-info {
    margin-left: 0.2rem;
    line-height: 1.1rem;
    font-size: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 100%;
    margin-top: -0.5rem;
    position: relative;
    top: -0.3rem;
  }


  .empty_fj {
    height: 100vh;
    background-color: map-get($colors, light);
  }

  .empty_fj ion-label {
    margin-top: -8rem;
    font-family: Lora;
    font-size: 3rem;
    white-space: normal;
    text-align: center;
  }

  .empty_fj fa {
    font-size: 10rem;
  }

  ion-item.initial_months {
    background: transparent;
    display: flex;
  }

  ion-select {
    font-family: Lora;
    font-size: 3rem;
    max-width: 100% !important;
    flex-grow: 1;
    color: map-get($colors, primary);
    text-align: center;
    font-style: italic;
  }
}
