page-ajouter2 {
  .montant {
    border: 1px solid #999999;
    width: 100%;
  }

  .oui_date {
    width: 98%;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .non_date {
    width: 98%;
    margin-left: 1%;
  }

  .transparent_back {
    background-color: rgba(40,40,40,0.8);
  }

  .rounded {
    border-radius: 12px;
  }

  hr {
    margin-bottom: 1em;
  }

  .card_back_green {
    background-color: color($colors, valid);
    font-size: 7em;
    color: white;
    padding: 4px;
  }

  .card_back_red {
    background-color: color($colors, danger);
    font-size: 7em;
    color: white;
    padding: 4px;
  }

  .error_click {
    border-bottom: 1px dashed gray;
    cursor: pointer;
    color: color($colors, danger);
  }

  .valid_click {
    border-bottom: 1px dashed gray;
    cursor: pointer;
    color: color($colors, valid);
  }

  .text_confirm {
    font-size: 1.2em;
  }
}
