page-ajouter2 {
  .montant {
    border: 1px solid #777777;
    width: 100%;
    background-color: #CCCCFF;
  }

  .oui_date {
    width: 98%;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .non_date {
    width: 98%;
    margin-left: 1%;
  }
}
