<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="!edit_fj">Nouvelle Feuille Jaune</ion-title>
    <ion-title *ngIf="edit_fj">Editer FJ de {{curr_month_pretty}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only class="button_fa" (click)="createFJ()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>

      <button ion-button icon-only *ngIf="tr_engine_ready" (click)="reload()">
        <!-- <ion-icon name="refresh"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-refresh" aria-hidden="true"></i>
      </button>

      <button ion-button icon-only *ngIf="!tr_engine_ready || pdf_export_ongoing">
        <ion-spinner name="bubbles"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="!edit_fj">
      <ion-label>Nouvelle Feuille Jaune pour {{curr_month_pretty}}</ion-label>
      <!-- <ion-select name="mois" [(ngModel)]="curr_month" (ionChange)="reloadcore()">
        <ion-option *ngFor="let m of last_months" [value]="m.date">{{m.label}}</ion-option>
      </ion-select> -->
    </ion-item>
    
    <ion-item>
      <ion-label>Devise</ion-label>
      <ion-select name="fj_curr_currency" [(ngModel)]="curr_currency">
        <ion-option *ngFor="let c of fj_currencies" [value]="c.val">{{c.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-group *ngIf="tr_engine_ready">
      <ion-item-divider color="light" sticky>Entrées<span style='float:right;width:20%;text-align:center'>CAISSE</span><span style='float:right;width:20%;text-align:center'>BANQUE</span></ion-item-divider>
      <fj-line [line]="2" [label]="paramService.getCatLabel('salaire')" [(banque)]="curr_fj.data[curr_currency].salaire.banque" [(caisse)]="curr_fj.data[curr_currency].salaire.caisse" [(observations)]="curr_fj.data[curr_currency].salaire.observations"></fj-line>
      <fj-line [line]="3" [label]="paramService.getCatLabel('allocation')" [(banque)]="curr_fj.data[curr_currency].allocation.banque" [(caisse)]="curr_fj.data[curr_currency].allocation.caisse" [(observations)]="curr_fj.data[curr_currency].allocation.observations"></fj-line>
      <fj-line [line]="4" [label]="paramService.getCatLabel('don')" [(banque)]="curr_fj.data[curr_currency].don.banque" [(caisse)]="curr_fj.data[curr_currency].don.caisse" [(observations)]="curr_fj.data[curr_currency].don.observations"></fj-line>
      <fj-line line="5" label="SOUS-TOTAL" [banque]="soustotal1('banque')" [caisse]="soustotal1('caisse')"></fj-line>
      <fj-line [line]="6" [label]="paramService.getCatLabel('dime')" [(banque)]="curr_fj.data[curr_currency].dime.banque" [(caisse)]="curr_fj.data[curr_currency].dime.caisse" [(observations)]="curr_fj.data[curr_currency].dime.observations"></fj-line>
      <fj-line [line]="7" [label]="paramService.getCatLabel('autre')" [(banque)]="curr_fj.data[curr_currency].autre.banque" [(caisse)]="curr_fj.data[curr_currency].autre.caisse" [(observations)]="curr_fj.data[curr_currency].autre.observations"></fj-line>
      <fj-line [line]="8" [label]="paramService.getCatLabel('remboursement_sante')" [(banque)]="curr_fj.data[curr_currency].remboursement_sante.banque" [(caisse)]="curr_fj.data[curr_currency].remboursement_sante.caisse" [(observations)]="curr_fj.data[curr_currency].remboursement_sante.observations"></fj-line>
      <fj-line [line]="9" [label]="paramService.getCatLabel('remboursement_pro')" [(banque)]="curr_fj.data[curr_currency].remboursement_pro.banque" [(caisse)]="curr_fj.data[curr_currency].remboursement_pro.caisse" [(observations)]="curr_fj.data[curr_currency].remboursement_pro.observations"></fj-line>
      <fj-line [line]="10" [label]="paramService.getCatLabel('remboursement_autre')" [(banque)]="curr_fj.data[curr_currency].remboursement_autre.banque" [(caisse)]="curr_fj.data[curr_currency].remboursement_autre.caisse" [(observations)]="curr_fj.data[curr_currency].remboursement_autre.observations"></fj-line>
      <fj-line line="12" label="REPORT DU MOIS PRECEDENT" [(banque)]="curr_fj.data[curr_currency].report_mois_precedent.banque" [(caisse)]="curr_fj.data[curr_currency].report_mois_precedent.caisse"></fj-line>
      <fj-line [line]="13" [label]="paramService.getCatLabel('avance')" [(banque)]="curr_fj.data[curr_currency].avance.banque" [(caisse)]="curr_fj.data[curr_currency].avance.caisse" [(observations)]="curr_fj.data[curr_currency].avance.observations"></fj-line>
      <fj-line [line]="15" [label]="paramService.getCatLabel('epargne')" [(banque)]="curr_fj.data[curr_currency].epargne.banque" [(caisse)]="curr_fj.data[curr_currency].epargne.caisse" [(observations)]="curr_fj.data[curr_currency].epargne.observations"></fj-line>
      <fj-line [line]="16" [label]="paramService.getCatLabel('transfert')" [(banque)]="curr_fj.data[curr_currency].transfert.banque" [(caisse)]="-curr_fj.data[curr_currency].transfert.banque" [(observations)]="curr_fj.data[curr_currency].transfert.observations"></fj-line>
      <fj-line line="17" label="I - DISPONIBILITES DU MOIS" [banque]="soustotal_I('banque')" [caisse]="soustotal_I('caisse')"></fj-line>
    </ion-item-group>

    <ion-item-group *ngIf="tr_engine_ready">
      <ion-item-divider color="light" sticky>Sorties<span style='float:right;width:20%;text-align:center'>CAISSE</span><span style='float:right;width:20%;text-align:center'>BANQUE</span></ion-item-divider>
      <fj-line banque="BANQUE" caisse='CAISSE'></fj-line>
      <fj-line [line]="18" [label]="paramService.getCatLabel('alimentation')" [(banque)]="curr_fj.data[curr_currency].alimentation.banque" [(caisse)]="curr_fj.data[curr_currency].alimentation.caisse" [(observations)]="curr_fj.data[curr_currency].alimentation.observations"></fj-line>
      <fj-line [line]="19" [label]="paramService.getCatLabel('energie')" [(banque)]="curr_fj.data[curr_currency].energie.banque" [(caisse)]="curr_fj.data[curr_currency].energie.caisse" [(observations)]="curr_fj.data[curr_currency].energie.observations"></fj-line>
      <fj-line [line]="21" [label]="paramService.getCatLabel('eau')" [(banque)]="curr_fj.data[curr_currency].eau.banque" [(caisse)]="curr_fj.data[curr_currency].eau.caisse" [(observations)]="curr_fj.data[curr_currency].eau.observations"></fj-line>
      <fj-line [line]="22" [label]="paramService.getCatLabel('loyer')" [(banque)]="curr_fj.data[curr_currency].loyer.banque" [(caisse)]="curr_fj.data[curr_currency].loyer.caisse" [(observations)]="curr_fj.data[curr_currency].loyer.observations"></fj-line>
      <fj-line [line]="23" [label]="paramService.getCatLabel('impot_maison')" [(banque)]="curr_fj.data[curr_currency].impot_maison.banque" [(caisse)]="curr_fj.data[curr_currency].impot_maison.caisse" [(observations)]="curr_fj.data[curr_currency].impot_maison.observations"></fj-line>
      <fj-line [line]="24" [label]="paramService.getCatLabel('assurance_maison')" [(banque)]="curr_fj.data[curr_currency].assurance_maison.banque" [(caisse)]="curr_fj.data[curr_currency].assurance_maison.caisse" [(observations)]="curr_fj.data[curr_currency].assurance_maison.observations"></fj-line>
      <fj-line line="25" [label]="paramService.getCatLabel('entretien_maison')" [(banque)]="curr_fj.data[curr_currency].entretien_maison.banque" [(caisse)]="curr_fj.data[curr_currency].entretien_maison.caisse" [(observations)]="curr_fj.data[curr_currency].entretien_maison.observations"></fj-line>
      <fj-line line="29" [label]="paramService.getCatLabel('travaux')" [(banque)]="curr_fj.data[curr_currency].travaux.banque" [(caisse)]="curr_fj.data[curr_currency].travaux.caisse" [(observations)]="curr_fj.data[curr_currency].travaux.observations"></fj-line>
      <fj-line line="30" [label]="paramService.getCatLabel('divers_maison')" [(banque)]="curr_fj.data[curr_currency].divers_maison.banque" [(caisse)]="curr_fj.data[curr_currency].divers_maison.caisse" [(observations)]="curr_fj.data[curr_currency].divers_maison.observations"></fj-line>
      <fj-line line="17" label="II - TOTAL MAISON" [banque]="soustotal_II('banque')" [caisse]="soustotal_II('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_viecourante" [label]="paramService.getCatLabel(id)" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
      <fj-line line="44" label="III - TOTAL VIE COURANTE" [banque]="soustotal_III('banque')" [caisse]="soustotal_III('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_transport" [label]="paramService.getCatLabel(id)" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
      <fj-line line="52" label="IV - TOTAL TRANSPORT" [banque]="soustotal_IV('banque')" [caisse]="soustotal_IV('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_secretariat" [label]="paramService.getCatLabel(id)" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
      <fj-line line="57" label="V - TOTAL SECRETARIAT" [banque]="soustotal_V('banque')" [caisse]="soustotal_V('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_banque" [label]="paramService.getCatLabel(id)" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
    </ion-item-group>

    <ion-item-group *ngIf="tr_engine_ready">
      <ion-item-divider color="light">TOTAL DES SORTIES<span style='float:right;width:20%;text-align:center'>{{total('caisse')}}</span><span style='float:right;width:20%;text-align:center'>{{total('banque')}}</span></ion-item-divider>
      <ion-item>
        SOLDE à reporter<br/>le mois suivant
        <span style='float:right;width:20%;text-align:center'>{{solde('caisse')}}</span>
        <span style='float:right;width:20%;text-align:center'>{{solde('banque')}}</span>
      </ion-item>
    </ion-item-group>

  </ion-list>

  <button ion-button (click)="createFJ()" class="button icon-left ion-play button-assertive" block><ion-spinner *ngIf='FJspinner' name="bubbles"></ion-spinner> Enregistrer la Feuille Jaune</button>
</ion-content>
