<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nouvelle Feuille Jaune</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="tr_engine_ready" (click)="reload()">
        <!-- <ion-icon name="refresh"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-refresh" aria-hidden="true"></i>
      </button>

      <button ion-button icon-only *ngIf="!tr_engine_ready || pdf_export_ongoing">
        <ion-spinner name="bubbles"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Mois</ion-label>
      <ion-select name="mois" [(ngModel)]="curr_month" (ionChange)="computeAmounts()">
        <ion-option *ngFor="let m of last_months" [value]="m.date">{{m.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-group>
      <ion-item-divider color="light" sticky>Entrées<span style='float:right;width:20%;text-align:center'>CAISSE</span><span style='float:right;width:20%;text-align:center'>BANQUE</span></ion-item-divider>
      <fj-line [line]="2" [label]="fjdata.salaire.label" [(banque)]="fjdata.salaire.banque" [(caisse)]="fjdata.salaire.caisse" [(observations)]="fjdata.salaire.observations"></fj-line>
      <fj-line [line]="3" [label]="fjdata.allocation.label" [(banque)]="fjdata.allocation.banque" [(caisse)]="fjdata.allocation.caisse" [(observations)]="fjdata.allocation.observations"></fj-line>
      <fj-line [line]="4" [label]="fjdata.don.label" [(banque)]="fjdata.don.banque" [(caisse)]="fjdata.don.caisse" [(observations)]="fjdata.don.observations"></fj-line>
      <fj-line line="5" label="SOUS-TOTAL" [banque]="soustotal1('banque')" [caisse]="soustotal1('caisse')"></fj-line>
      <fj-line [line]="6" [label]="fjdata.dime.label" [(banque)]="fjdata.dime.banque" [(caisse)]="fjdata.dime.caisse" [(observations)]="fjdata.dime.observations"></fj-line>
      <fj-line [line]="7" [label]="fjdata.autre.label" [(banque)]="fjdata.autre.banque" [(caisse)]="fjdata.autre.caisse" [(observations)]="fjdata.autre.observations"></fj-line>
      <fj-line [line]="8" [label]="fjdata.remboursement_sante.label" [(banque)]="fjdata.remboursement_sante.banque" [(caisse)]="fjdata.remboursement_sante.caisse" [(observations)]="fjdata.remboursement_sante.observations"></fj-line>
      <fj-line [line]="9" [label]="fjdata.remboursement_pro.label" [(banque)]="fjdata.remboursement_pro.banque" [(caisse)]="fjdata.remboursement_pro.caisse" [(observations)]="fjdata.remboursement_pro.observations"></fj-line>
      <fj-line [line]="10" [label]="fjdata.remboursement_autre.label" [(banque)]="fjdata.remboursement_autre.banque" [(caisse)]="fjdata.remboursement_autre.caisse" [(observations)]="fjdata.remboursement_autre.observations"></fj-line>
      <fj-line line="12" label="REPORT DU MOIS PRECEDENT" [(banque)]="fjdata.report_mois_precedent.banque" [(caisse)]="fjdata.report_mois_precedent.caisse"></fj-line>
      <fj-line [line]="13" [label]="fjdata.avance.label" [(banque)]="fjdata.avance.banque" [(caisse)]="fjdata.avance.caisse" [(observations)]="fjdata.avance.observations"></fj-line>
      <fj-line [line]="15" [label]="fjdata.epargne.label" [(banque)]="fjdata.epargne.banque" [(caisse)]="fjdata.epargne.caisse" [(observations)]="fjdata.epargne.observations"></fj-line>
      <fj-line [line]="16" [label]="fjdata.transfert.label" [(banque)]="fjdata.transfert.banque" [(caisse)]="-fjdata.transfert.banque" [(observations)]="fjdata.transfert.observations"></fj-line>
      <fj-line line="17" label="I - DISPONIBILITES DU MOIS" [banque]="soustotal_I('banque')" [caisse]="soustotal_I('caisse')"></fj-line>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light" sticky>Sorties<span style='float:right;width:20%;text-align:center'>CAISSE</span><span style='float:right;width:20%;text-align:center'>BANQUE</span></ion-item-divider>
      <fj-line banque="BANQUE" caisse='CAISSE'></fj-line>
      <fj-line [line]="18" [label]="fjdata.alimentation.label" [(banque)]="fjdata.alimentation.banque" [(caisse)]="fjdata.alimentation.caisse" [(observations)]="fjdata.alimentation.observations"></fj-line>
      <fj-line [line]="19" [label]="fjdata.energie.label" [(banque)]="fjdata.energie.banque" [(caisse)]="fjdata.energie.caisse" [(observations)]="fjdata.energie.observations"></fj-line>
      <fj-line [line]="21" [label]="fjdata.eau.label" [(banque)]="fjdata.eau.banque" [(caisse)]="fjdata.eau.caisse" [(observations)]="fjdata.eau.observations"></fj-line>
      <fj-line [line]="22" [label]="fjdata.loyer.label" [(banque)]="fjdata.loyer.banque" [(caisse)]="fjdata.loyer.caisse" [(observations)]="fjdata.loyer.observations"></fj-line>
      <fj-line [line]="23" [label]="fjdata.impot_maison.label" [(banque)]="fjdata.impot_maison.banque" [(caisse)]="fjdata.impot_maison.caisse" [(observations)]="fjdata.impot_maison.observations"></fj-line>
      <fj-line [line]="24" [label]="fjdata.assurance_maison.label" [(banque)]="fjdata.assurance_maison.banque" [(caisse)]="fjdata.assurance_maison.caisse" [(observations)]="fjdata.assurance_maison.observations"></fj-line>
      <fj-line line="25" [label]="fjdata.entretien_maison.label" [(banque)]="fjdata.entretien_maison.banque" [(caisse)]="fjdata.entretien_maison.caisse" [(observations)]="fjdata.entretien_maison.observations"></fj-line>
      <fj-line line="29" [label]="fjdata.travaux.label" [(banque)]="fjdata.travaux.banque" [(caisse)]="fjdata.travaux.caisse" [(observations)]="fjdata.travaux.observations"></fj-line>
      <fj-line line="30" [label]="fjdata.divers_maison.label" [(banque)]="fjdata.divers_maison.banque" [(caisse)]="fjdata.divers_maison.caisse" [(observations)]="fjdata.divers_maison.observations"></fj-line>
      <fj-line line="17" label="II - TOTAL MAISON" [banque]="soustotal_II('banque')" [caisse]="soustotal_II('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_viecourante" [label]="fjdata[id].label" [(banque)]="fjdata[id].banque" [(caisse)]="fjdata[id].caisse" [(observations)]="fjdata[id].observations"></fj-line>
      <fj-line line="44" label="III - TOTAL VIE COURANTE" [banque]="soustotal_III('banque')" [caisse]="soustotal_III('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_transport" [label]="fjdata[id].label" [(banque)]="fjdata[id].banque" [(caisse)]="fjdata[id].caisse" [(observations)]="fjdata[id].observations"></fj-line>
      <fj-line line="52" label="IV - TOTAL TRANSPORT" [banque]="soustotal_IV('banque')" [caisse]="soustotal_IV('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_secretariat" [label]="fjdata[id].label" [(banque)]="fjdata[id].banque" [(caisse)]="fjdata[id].caisse" [(observations)]="fjdata[id].observations"></fj-line>
      <fj-line line="57" label="V - TOTAL SECRETARIAT" [banque]="soustotal_V('banque')" [caisse]="soustotal_V('caisse')"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_banque" [label]="fjdata[id].label" [(banque)]="fjdata[id].banque" [(caisse)]="fjdata[id].caisse" [(observations)]="fjdata[id].observations"></fj-line>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">TOTAL DES SORTIES<span style='float:right;width:20%;text-align:center'>{{total('caisse')}}</span><span style='float:right;width:20%;text-align:center'>{{total('banque')}}</span></ion-item-divider>
      <ion-item>
        SOLDE à reporter<br/>le mois suivant
        <span style='float:right;width:20%;text-align:center'>{{solde('caisse')}}</span>
        <span style='float:right;width:20%;text-align:center'>{{solde('banque')}}</span>
      </ion-item>
    </ion-item-group>

  </ion-list>

  <button ion-button (click)="createFJ()" class="button icon-left ion-play button-assertive" block><ion-spinner *ngIf='FJspinner' name="bubbles"></ion-spinner> Exporter la Feuille Jaune</button>
</ion-content>
