<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="!edit_fj">Nouvelle Feuille Jaune</ion-title>
    <ion-title *ngIf="edit_fj">Editer FJ</ion-title>

    <ion-buttons end>
      <button ion-button icon-only class="button_fa" (click)="createFJ()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>

      <button ion-button icon-only *ngIf="tr_engine_ready" (click)="reload()">
        <!-- <ion-icon name="refresh"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-refresh" aria-hidden="true"></i>
      </button>

      <button ion-button icon-only *ngIf="!tr_engine_ready || pdf_export_ongoing">
        <ion-spinner name="bubbles"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item>
        <h2>{{curr_month_pretty}} en {{curr_currency_label}}</h2>
      </ion-item>
      <!-- <ion-select name="mois" [(ngModel)]="curr_month" (ionChange)="reloadcore()">
        <ion-option *ngFor="let m of last_months" [value]="m.date">{{m.label}}</ion-option>
      </ion-select> -->
    </ion-item-group>
    
    <ion-item *ngIf="!edit_fj">
      <ion-label>Devise</ion-label>
      <ion-select name="fj_curr_currency" [(ngModel)]="curr_currency">
        <ion-option *ngFor="let c of fj_currencies" [value]="c.id">{{c.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-group *ngIf="tr_engine_ready">
      <ion-item-divider color="light" sticky>Entrées<span style='float:right;width:20%;text-align:center'>CAISSE</span><span style='float:right;width:20%;text-align:center'>BANQUE</span></ion-item-divider>
      <fj-line [info]="info" [line]="2" category="salaire" [(banque)]="curr_fj.data[curr_currency].salaire.banque" [(caisse)]="curr_fj.data[curr_currency].salaire.caisse" [(observations)]="curr_fj.data[curr_currency].salaire.observations"></fj-line>
      <fj-line [info]="info" [line]="3" category="allocation" [(banque)]="curr_fj.data[curr_currency].allocation.banque" [(caisse)]="curr_fj.data[curr_currency].allocation.caisse" [(observations)]="curr_fj.data[curr_currency].allocation.observations"></fj-line>
      <fj-line [info]="info" [line]="4" category="don" [(banque)]="curr_fj.data[curr_currency].don.banque" [(caisse)]="curr_fj.data[curr_currency].don.caisse" [(observations)]="curr_fj.data[curr_currency].don.observations"></fj-line>
      <fj-line important line="5" category="SOUS-TOTAL" [banque]="soustotal('revenus').banque" [caisse]="soustotal('revenus').caisse"></fj-line>
      <fj-line [info]="info" [line]="6" category="dime" [(banque)]="curr_fj.data[curr_currency].dime.banque" [(caisse)]="curr_fj.data[curr_currency].dime.caisse" [(observations)]="curr_fj.data[curr_currency].dime.observations"></fj-line>
      <fj-line [info]="info" [line]="7" category="autre" [(banque)]="curr_fj.data[curr_currency].autre.banque" [(caisse)]="curr_fj.data[curr_currency].autre.caisse" [(observations)]="curr_fj.data[curr_currency].autre.observations"></fj-line>
      <fj-line [info]="info" [line]="8" category="remboursement_sante" [(banque)]="curr_fj.data[curr_currency].remboursement_sante.banque" [(caisse)]="curr_fj.data[curr_currency].remboursement_sante.caisse" [(observations)]="curr_fj.data[curr_currency].remboursement_sante.observations"></fj-line>
      <fj-line [info]="info" [line]="9" category="remboursement_pro" [(banque)]="curr_fj.data[curr_currency].remboursement_pro.banque" [(caisse)]="curr_fj.data[curr_currency].remboursement_pro.caisse" [(observations)]="curr_fj.data[curr_currency].remboursement_pro.observations"></fj-line>
      <fj-line [info]="info" [line]="10" category="remboursement_autre" [(banque)]="curr_fj.data[curr_currency].remboursement_autre.banque" [(caisse)]="curr_fj.data[curr_currency].remboursement_autre.caisse" [(observations)]="curr_fj.data[curr_currency].remboursement_autre.observations"></fj-line>
      <fj-line important line="12" category="REPORT DU MOIS PRECEDENT" [(banque)]="curr_fj.data[curr_currency].report_mois_precedent.banque" [(caisse)]="curr_fj.data[curr_currency].report_mois_precedent.caisse"></fj-line>
      <fj-line [info]="info" [line]="13" category="avance" [(banque)]="curr_fj.data[curr_currency].avance.banque" [(caisse)]="curr_fj.data[curr_currency].avance.caisse" [(observations)]="curr_fj.data[curr_currency].avance.observations"></fj-line>
      <fj-line [info]="info" [line]="15" category="epargne" [(banque)]="curr_fj.data[curr_currency].epargne.banque" [(caisse)]="curr_fj.data[curr_currency].epargne.caisse" [(observations)]="curr_fj.data[curr_currency].epargne.observations"></fj-line>
      <fj-line [info]="info" [line]="16" category="transfert" [(banque)]="curr_fj.data[curr_currency].transfert.banque" [(caisse)]="-curr_fj.data[curr_currency].transfert.banque" [(observations)]="curr_fj.data[curr_currency].transfert.observations"></fj-line>
      <fj-line important line="17" category="I - DISPONIBILITES DU MOIS" [banque]="soustotal('dispos_mois').banque" [caisse]="soustotal('dispos_mois').caisse"></fj-line>
    </ion-item-group>

    <ion-item-group *ngIf="tr_engine_ready">
      <ion-item-divider color="light" sticky>Sorties<span style='float:right;width:20%;text-align:center'>CAISSE</span><span style='float:right;width:20%;text-align:center'>BANQUE</span></ion-item-divider>
      <fj-line banque="BANQUE" caisse='CAISSE'></fj-line>
      <fj-line [info]="info" [line]="18" category="alimentation" [(banque)]="curr_fj.data[curr_currency].alimentation.banque" [(caisse)]="curr_fj.data[curr_currency].alimentation.caisse" [(observations)]="curr_fj.data[curr_currency].alimentation.observations"></fj-line>
      <fj-line [info]="info" [line]="19" category="energie" [(banque)]="curr_fj.data[curr_currency].energie.banque" [(caisse)]="curr_fj.data[curr_currency].energie.caisse" [(observations)]="curr_fj.data[curr_currency].energie.observations"></fj-line>
      <fj-line [info]="info" [line]="21" category="eau" [(banque)]="curr_fj.data[curr_currency].eau.banque" [(caisse)]="curr_fj.data[curr_currency].eau.caisse" [(observations)]="curr_fj.data[curr_currency].eau.observations"></fj-line>
      <fj-line [info]="info" [line]="22" category="loyer" [(banque)]="curr_fj.data[curr_currency].loyer.banque" [(caisse)]="curr_fj.data[curr_currency].loyer.caisse" [(observations)]="curr_fj.data[curr_currency].loyer.observations"></fj-line>
      <fj-line [info]="info" [line]="23" category="impot_maison" [(banque)]="curr_fj.data[curr_currency].impot_maison.banque" [(caisse)]="curr_fj.data[curr_currency].impot_maison.caisse" [(observations)]="curr_fj.data[curr_currency].impot_maison.observations"></fj-line>
      <fj-line [info]="info" [line]="24" category="assurance_maison" [(banque)]="curr_fj.data[curr_currency].assurance_maison.banque" [(caisse)]="curr_fj.data[curr_currency].assurance_maison.caisse" [(observations)]="curr_fj.data[curr_currency].assurance_maison.observations"></fj-line>
      <fj-line [info]="info" line="25" category="entretien_maison" [(banque)]="curr_fj.data[curr_currency].entretien_maison.banque" [(caisse)]="curr_fj.data[curr_currency].entretien_maison.caisse" [(observations)]="curr_fj.data[curr_currency].entretien_maison.observations"></fj-line>
      <fj-line [info]="info" line="29" category="travaux" [(banque)]="curr_fj.data[curr_currency].travaux.banque" [(caisse)]="curr_fj.data[curr_currency].travaux.caisse" [(observations)]="curr_fj.data[curr_currency].travaux.observations"></fj-line>
      <fj-line [info]="info" line="30" category="divers_maison" [(banque)]="curr_fj.data[curr_currency].divers_maison.banque" [(caisse)]="curr_fj.data[curr_currency].divers_maison.caisse" [(observations)]="curr_fj.data[curr_currency].divers_maison.observations"></fj-line>
      <fj-line important [info]="info" line="17" category="II - TOTAL MAISON" [banque]="soustotal('maison').banque" [caisse]="soustotal('maison').caisse"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_viecourante" [info]="info" [category]="id" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
      <fj-line important [info]="info" line="44" category="III - TOTAL VIE COURANTE" [banque]="soustotal('vie_courante').banque" [caisse]="soustotal('vie_courante').caisse"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_transport" [info]="info" [category]="id" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
      <fj-line important [info]="info" line="52" category="IV - TOTAL TRANSPORT" [banque]="soustotal('transport').banque" [caisse]="soustotal('transport').caisse"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_secretariat" [info]="info" [category]="id" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
      <fj-line important [info]="info" line="57" category="V - TOTAL SECRETARIAT" [banque]="soustotal('secretariat').banque" [caisse]="soustotal('secretariat').caisse"></fj-line>
      <fj-line *ngFor="let id of paramService.liste_banque" [info]="info" [category]="id" [(banque)]="curr_fj.data[curr_currency][id].banque" [(caisse)]="curr_fj.data[curr_currency][id].caisse" [(observations)]="curr_fj.data[curr_currency][id].observations"></fj-line>
    </ion-item-group>

    <ion-item-group *ngIf="tr_engine_ready">
      <ion-item-divider color="light">TOTAL DES SORTIES<span style='float:right;width:20%;text-align:center'>{{soustotal('total').caisse}}</span><span style='float:right;width:20%;text-align:center'>{{soustotal('total').banque}}</span></ion-item-divider>
      <ion-item>
        SOLDE à reporter<br/>le mois suivant
        <span style='float:right;width:20%;text-align:center'>{{soustotal('solde').caisse}}</span>
        <span style='float:right;width:20%;text-align:center'>{{soustotal('solde').banque}}</span>
      </ion-item>
    </ion-item-group>

  </ion-list>

  <button ion-button (click)="createFJ()" class="button icon-left ion-play button-assertive" block><ion-spinner *ngIf='FJspinner' name="bubbles"></ion-spinner> Enregistrer la Feuille Jaune</button>
</ion-content>
