page-home {
  .circle_montant {
    font-size: 2.8em;
    /* font-family: "segoe ui"; */
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.29);
    border-radius: 100%;
    width: 4em;
    height: 4em;
    line-height: 2.8em;
    color: #a7a7a7;
    margin-left: 25%;
    padding-top: 0.5em;
    margin-top: 20px;
  }
}
