page-home {
  h3 {
    font-family: 'Segoe UI';
    font-variant: small-caps;
    font-size: 5rem;
    font-weight: 300;
    text-shadow: 1px 1px 16px white;
    margin-left: 2rem;
    margin-bottom: 5rem;
  }

  .circle_montant {
    font-size: 2.8em;
    /* font-family: "segoe ui"; */
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.29);
    border-radius: 100%;
    width: 4em;
    height: 4em;
    line-height: 2.8em;
    color: #a7a7a7;
    margin-left: 25%;
    padding-top: 0.5em;
    margin-top: 20px;
  }

  .info_solde {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .info_label {
    font-variant: small-caps;
    font-weight: bold;
  }

  .info_montant {
    margin-top: -5px;
    font-family: 'Segoe UI Light';
    font-size: 30px;
  }

  .soft_bg {
    background-color: map-get($colors, light );
  }

  /* =========================================== */
  /*                PARALLAX EFFECT              */

  .fixed_content {
    z-index: 1;
    position: fixed;
    top: 80px;
    width: 100%;
    background-size: cover;
  }

  .scrollable_content {
    z-index: 2;
    position: relative;
    z-index: 2;
    margin-top: 260px;
  }

  /* ========================================== */
}
