page-param {
  .info {
    margin-top: 2rem;
    color: color($colors, lightgray);
    font-style: italic;
  }

  .raz {
    background-color: red;
    color: white;
  }

  form {
    padding-left: 7px;
  }

  .personne label {
    font-weight: normal;
    color: color($colors, lightgray);
  }

  .personne input {
    border: none;
    margin: 0px;
    padding: 4px;
    text-align: right;
    width: auto;
    float: right;
  }

  .spinner {
    margin-right: 10px;
  }

  .icons_nav {
    font-size: 1.7em;
  }
}
