page-budget {
  .header_list {
    color: gray;
    font-style: italic;
    float: right;
  }

  .monfiltre {
    margin-bottom: 1em;
    border-bottom: 1px solid #EFEFEF;
  }

  .searchbar-input-container{            
    .searchbar-input{
        border-radius: 20px;
    }
  }

  #header_search {
    background-color: map-get($colors, light );
    /* z-index: 1; */
    position: fixed;
    /* top: 50px; */
    width: 100%;
  }

  ion-list {
    z-index: 2;
    position: relative;
    box-shadow: 0 -1px 9px #d7c0b1;
  }
}
