<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Historique
    </ion-title>

    <ion-buttons end>

      <button ion-button icon-only *ngIf="tr_engine_ready" (click)="reload()">
        <!-- <ion-icon name="refresh"></ion-icon> -->
        <i style="font-size:1.6em" class="fa fa-refresh" aria-hidden="true"></i>
      </button>

      <button ion-button icon-only *ngIf="!tr_engine_ready">
        <ion-spinner name="bubbles"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>


  
</ion-header>


<ion-content>
  <div id="header_search" padding>
    <ion-searchbar [(ngModel)]="searchText" [showCancelButton]="shouldShowCancel" (ionInput)="onInputSearch($event)" (ionCancel)="onCancelSearch($event)">
    </ion-searchbar>

    <div class="header_list">
      {{nb_tr}} transactions
    </div>

    <div class="monfiltre">
      <reveal-div title="Filtrer" (onToggle)="onFilterToggled($event)">
        <filter-options title="Moyen de paiement" [options]="filtre_moyen_opt" [(selected)]="filtre_moyen_sel" (click)="onFilterMoyenChange($event)"></filter-options>
      </reveal-div>
    </div>
  </div>

  <ion-list [style.margin-top.px]="marginList">
    <budget-line *ngFor="let tr of transactions | histoFilter:filtre_moyen_sel2 | histoFilter:searchText" [tr]="tr" (onDeleted)="reload()" (click)="showDetails(tr)"></budget-line>
    <!-- <div *virtualItem="let tr | histoFilter:filtre_moyen_sel2 | histoFilter:searchText">
      <budget-line [tr]="tr" (onDeleted)="reload()" (click)="showDetails(tr)"></budget-line>
    </div> -->
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="showAjouterPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
