<!--
  Generated template for the FjDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Feuille Jaune de {{pretty_month}} <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin spinner" aria-hidden="true"></i></ion-title>

    <!-- <ion-buttons end>
      <button ion-button (click)="supprFJ()">
        <i style="font-size:1.6em" class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="maison" #maison> <!-- [style.background-image]="photoMaisonUrl" -->
    <div>{{curr_fj.maison}} - {{pretty_month}}</div>
  </div>

  <div class="details">
    <div class="detail_item" (click)="editFJ()">
      <i class="fa fa-pencil-square-o"></i>
      <div>Éditer</div>
    </div>

    <div class="detail_item" (click)="shareFJ()">
      <i class="fa fa-share-alt"></i>
      <div>Partager</div>
    </div>

    <div class="detail_item" (click)="supprFJ()">
      <i class="fa fa-trash-o"></i>
      <div>Supprimer</div>
    </div>
  </div>

  <div class="stats">
    <ion-item class="select currency" *ngIf="fj_currencies.length > 1">
      <ion-label>Devise</ion-label>
      <ion-select [(ngModel)]="curr_currency">
        <ion-option *ngFor="let currency of fj_currencies.concat([{id:'all', label: 'Toutes'}])" [value]="currency.id">{{currency.label}}</ion-option>
      </ion-select>
    </ion-item>

    <div class="stats_general" *ngIf="fj_soustotaux">
      <div class="type_label">DÉPENSES</div>
      <div class="type">
          <div class="banque_caisse">
            <div class="label">banque</div>
            <div class="montant">{{fj_soustotaux['pretty'][curr_currency].total.banque}}</div>
          </div>
          <div class="banque_caisse">
            <div class="label">caisse</div>
            <div class="montant">{{fj_soustotaux['pretty'][curr_currency].total.caisse}}</div>
          </div>
      </div>

      <div class="type_label">SOLDE</div>
      <div class="type">
          <div class="banque_caisse">
            <div class="label">banque</div>
            <div class="montant">{{fj_soustotaux['pretty'][curr_currency].solde.banque}}</div>
          </div>
          <div class="banque_caisse">
            <div class="label">caisse</div>
            <div class="montant">{{fj_soustotaux['pretty'][curr_currency].solde.caisse}}</div>
          </div>
      </div>
    </div>

    <div style="height:100px"></div>
  </div>

  <!-- <ion-list *ngIf="fj_soustotaux">
    <ion-item-group>

      <ion-item-divider color="secondary">
        Stats dépenses ({{moyenne_ratio}}) <i class="fa fa-info" tooltip="Delta entre les dépenses du mois courant et la moyenne des dépenses sur les 12 derniers mois" positionV="top"></i>
      </ion-item-divider>
      
      <ion-item>
        Dépenses : <span *ngFor="let currency of fj_currencies">
          {{fj_soustotaux[currency.id].total.banque + fj_soustotaux[currency.id].total.caisse}} {{currency.symbol}}
        </span>
      </ion-item>

      <ion-item>
          Solde : <span *ngFor="let currency of fj_currencies">
            {{fj_soustotaux[currency.id].solde.banque + fj_soustotaux[currency.id].solde.caisse}} {{currency.symbol}}
          </span>
        </ion-item>
    </ion-item-group>
  </ion-list> -->
</ion-content>
